{% extends "./base.html" %}

{% block additional_styles %}
  <style>
     body {
      background-image: url('https://easyveggies.s3.us-east-2.amazonaws.com/BG4.jpg');
     }
  </style>
{% endblock %}

{% block content %}

<div class="container_home">
  <h1>Plant Based Recipes</h1>
</div>

<div class="container_home_2">
  <h1>Plant Based Made Practical</h1>
</div>

<div class="container_home_3">
  <h1>About Us</h1>
</div>

<div class="container_home_4">
</div>

<div class="container_home_5">
  <h1>About Us</h1>
</div>

<div class="container_home_4">
</div>

<div class="container_home_6">
  <h1>Contact Us</h1>
</div>

{% endblock %}
