{% extends "./base.html" %}

{% block additional_styles %}
  <style>
     body {
      background-image: url('https://easyveggies.s3.us-east-2.amazonaws.com/BG4.jpg');
     }
  </style>
{% endblock %}

{% block content %}

<div class="container_home">
  <h1>Plant Based Recipes</h1>
</div>

<div class="container_home_2">
  <h1>Plant Based Made Practical</h1>
</div>

<div class="container_home_3">
  <div class="container-fluid">
    <div class="container-sm">
      <h1>Jaimee Beson</h1>
      <p>Jaimee Stuff</p>
    </div>
    <div class="prof_pic">
      <img src="https://easyveggies.s3.us-east-2.amazonaws.com/JBP.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
  </div>
</div>

<div class="container_home_4">
</div>

<div class="container_home_5">
  <div class="container-fluid">
    <div class="prof_pic">
      <img src="https://easyveggies.s3.us-east-2.amazonaws.com/JSP.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
    </div>
    <div class="container-sm">
      <h1>Jeff Soto</h1>
      <p>Jeff Stuff</p>
    </div>
  </div>
</div>

<div class="container_home_4">
</div>

<div class="container_home_6">
  <div class="container-sm" id="centerer">
    <h1>Contact Info</h1>
  </div>
</div>

{% endblock %}
