<!DOCTYPE html>
<html>
  <body>
    <div class="g_list rounded-lg">
      <h1>Your Grocery List:</h1>
      <p>  </p>
      {% for g in ing_li %}
      <p>{{ g }}</p>
      {% endfor %}
      <p>---</p>
      {% if oils_li|length > 0 %}
      <p>This is assuming you have the following Sauces/Oils:</p>
      {% for o in oils_li %}
      <p>{{ o }}</p>
      {% endfor %}
      {% else %}
      <p>This recipe list requires no sauces/oils.</p>
      {% endif %}
      <p>---</p>

      {% if seasons_li|length > 0 %}
      <p>This is assuming you have the following Seasonings:</p>
      {% for s in seasons_li %}
      <p>{{ s }}</p>
      {% endfor %}
      {% else %}
      <p>This recipe list requires no seasonings.</p>
      {% endif %}
      <p>---</p>

    </div>
  </body>
</html>
