{% extends "./base.html" %}


{% block content %}
{% load static %}
<div class="container_rp_home_2" style="background: url('https://ppp-ws.s3.us-east-2.amazonaws.com/BG{{ bg_pic }}.jpg') center center fixed;">
  <nav class="navbar navbar3 navbar-expand-lg navbar-light bg-clear" id="NavbarNav">
    <div class="collapse navbar-collapse d-flex flex-row-reverse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipe_gen">Recipe Generator</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container rounded-lg" id="rp_extend">
    <div class="gen_title">
      <p>Recipe List</p>
    </div>
    {% for om in recipes %}
    <div class="recipe rounded-lg">
      <h1>{{ om.name }}</h1>
      <h5>Main Ingredients:</h5>
      <p>{{ om.main }}</p>
      <h5>Oils & Sauces:</h5>
      <p>{{ om.oils }}</p>
      <h5>Seasonings:</h5>
      <p>{{ om.seasoning }}</p>
      <h5>Cooking Instructions:</h5>
      <p>{{ om.preparation }}</p>
    </div>
    {% endfor %}

    <div class="g_list rounded-lg">
      <h1>Your Grocery List:</h1>
      <p>  </p>
      {% for g in ing_li %}
      <p>{{ g }}</p>
      {% endfor %}
      <p>---</p>
      {% if oils_li|length > 0 %}
      <p>This is assuming you have the following Sauces/Oils:</p>
      {% for o in oils_li %}
      <p>{{ o }}</p>
      {% endfor %}
      {% else %}
      <p>This recipe list requires no sauces/oils.</p>
      {% endif %}
      <p>---</p>

      {% if seasons_li|length > 0 %}
      <p>This is assuming you have the following Seasonings:</p>
      {% for s in seasons_li %}
      <p>{{ s }}</p>
      {% endfor %}
      {% else %}
      <p>This recipe list requires no seasonings.</p>
      {% endif %}
      <p>---</p>

      <a class="btn btn-outline-light" href="{% url 'pdf_view' %}" target="_blank">Preview Recipes</a>
      <a class="btn btn-outline-light"  href="{% url 'pdf_download' %}">Download Recipes</a>

    </div>
  </div>
</div>

{% endblock %}
